@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,400..700;1,9..40,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400..700;1,400..700&display=swap");
:root {
  /* Font styles */
  --ff-primary: "DM Sans";
  --ff-secondary: "Montserrat";

  /* Colors */
  --pink: #ea6479;
  --pink-light: #f198a6;
  --pink-lighter: #fee1e6;
  --pink-lighter1: #f2d5d7;
  --pink-dark: #cb4a5f;

  --blue-dark: #111827;
  --white: #ffffff;
  --purple: #ad00ff;
  --purple-light: #d0a6fa;
  --dark: #151515;
  --gray: #475467;
  --gray-100: #f2f4f7;
  --gray-400: #98a2b3;
  --gray-600: #3c3d49;
  --gray-800: #1d2939;
  --Neutral-700: #374151;
  --Neutral-900: #111827;

  --gradient: linear-gradient(
    190deg,
    #fcf3ee 16.16%,
    #fbf1eb 52.78%,
    #eeded1 104.03%
  );

  --max-width: 1120px;
  --max-height: 900px;
  --tablet-width: 768px;
  --swiper-pagination-color: var(--purple);
  --swiper-pagination-bottom: 0;
}
/* .swiper-pagination {
  position: absolute;
  top: 0;
}
.swiper-wrapper {
  position: static;
} */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  /* font-family:;
  color:; */
  overflow-x: hidden;
  /* font-smooth: always; */

  /* *::selection {
    color: $blue;
    background: $green-light;
  } */

  /* // *::first-letter {
  //   text-transform: capitalize;
  // } */

  /* a,
  button {
    font-weight: 400;
    user-select: none;
    text-decoration: none;
    font-family: ;
    cursor: pointer;
  }
  *,
  :after,
  :before {
    box-sizing: inherit;
  } */
}
p {
  margin: 0;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 20px;
}

a {
  text-decoration: none;
}
button:disabled {
  cursor: not-allowed;
}
ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}
